.App {
  text-align: center;
}

body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.container {
  display: flex;
  flex-direction: column;
}
/* table  */
.table {
  margin: 0 auto;
  background: white;
  text-align: center;
  font-size: 14px;
  border: 1px solid lightgrey;
  /* float: left; */
  width: 100%;
}

thead {
  padding: 5px;
  border: 1px solid lightgrey;
}

tr {
  margin: 5px;
  border: 1px solid lightgrey;
}
th {
  background: lightpink;
  border: 1px solid lightgrey;
}
tr:hover {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
td {
  border: 1px solid lightgrey;
}

.logo {
  margin-top: 10px;
  border: 5px double white;
  border-bottom: none;
  width: 100%;
  /* float: left; */
}
.logo1 {
  border: 5px double white;
  width: 100%;
  /* float: left; */
}
.emoji:hover {
  background: orange;
}
.edit {
  background: lightyellow;
  border-radius: 7px;
  margin-top: 2px;
}
.edit:hover {
  background: green;
}
.delete {
  background: rgb(235, 169, 169);
  border-radius: 7px;
  margin-top: 2px;
}
.delete:hover {
  background: black;
}
.btn-group {
  width: 100%;
  /* float: left; */
}
.addButton {
  display: inline;
  margin: 0 auto;
  border: 5px double white;
}
.modal {
  display: inline;
  margin: 0 auto;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.modal1 {
  background: green;
}
.fruitsCover {
  background: url('./components/fruits.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  color: transparent;
  margin: 0 auto;
}
/* .showNutrifacts {
  float: left;
} */

/* img:after {
  content: '\f1c5'' ' attr(alt);

  font-size: 16px;
  font-family: FontAwesome;
  color: white;

  display: inline;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 10%;
  width: 80%;
  height: 5%;
  background-color: #007bff;
  margin: 0 auto;
} */
.cover {
  margin: 24% auto;
  width: 70%;
  height: 100%;
  display: block;
  text-align: center;
}
h1 {
  font-size: 24px;
}

.container1 {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
button {
  border-radius: 5px;
}
